In [1]:
import pandas as pd
import numpy as np

In [2]:
listings_cleaned = pd.read_csv('listings_cleaned.csv', encoding='utf-8')

In [3]:
calender = pd.read_excel('calendar.xlsx')

In [4]:
calender.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,1419,2019-05-06,f,469,469,4.0,730.0
1,234500,2019-05-06,f,97,97,1.0,30.0
2,234500,2019-05-07,f,97,97,1.0,30.0
3,234500,2019-05-08,f,97,97,1.0,30.0
4,234500,2019-05-09,f,97,97,1.0,30.0

In [5]:
calender_summary =

date
2019-05-06    2802
2019-05-07    2874
2019-05-08    2874
2019-05-09    2874
2019-05-10    2874
2019-05-11    2874
2019-05-12    2874
2019-05-13    2874
2019-05-14    2874
2019-05-15    2874
2019-05-16    2874
2019-05-17    2874
2019-05-18    2874
2019-05-19    2874
2019-05-20    2874
2019-05-21    2874
2019-05-22    2874
2019-05-23    2874
2019-05-24    2874
2019-05-25    2874
2019-05-26    2874
2019-05-27    2874
2019-05-28    2874
2019-05-29    2874
2019-05-30    2874
2019-05-31    2874
2019-06-01    2874
2019-06-02    2874
2019-06-03    2874
2019-06-04    2874
              ...
2020-04-06    2871
2020-04-07    2871
2020-04-08    2871
2020-04-09    2871
2020-04-10    2871
2020-04-11    2871
2020-04-12    2871
2020-04-13    2871
2020-04-14    2871
2020-04-15    2871
2020-04-16    2871
2020-04-17    2871
2020-04-18    2871
2020-04-19    2871
2020-04-20    2871
2020-04-21    2871
2020-04-22    2871
2020-04-23    2871
2020-04-24    2871
2020-04-25    2871
2020-04-26    2871
2020-04-27    2871
2020-04-28    2871
2020-04-29    2871
2020-04-30    2871
2020-05-01    2871
2020-05-02    2871
2020-05-03    2871
2020-05-04    2871
2020-05-05     121
Name: listing_id, Length: 366, dtype: int64